p.cloud-letter
  position: relative

  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  text-align: var(--align)
  background-color: #0001

  > span
    &.cloud-element
      display: inline-block
      margin: 0
      padding: 7px 16px
      border: 0
      box-sizing: border-box

      color: #47f
      font-family: 'Courier New', Courier, monospace
      font-weight: bold
      font-size: 16px
      line-height: 20px
      text-align: var(--align)
      white-space: pre

    &.cloud-element.space
      padding: 7px 0
      width: var(--gap)

    &.cloud-element.space.idle
      padding: 0

  > canvas.cloud-canvas
    position: absolute
    z-index: -1